[submodule "Source/ThirdParty/fmt"]
	path = Source/ThirdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Source/ThirdParty/entt"]
	path = Source/ThirdParty/entt
	url = https://github.com/skypjack/entt
